<%- include header %>

<p class="info">
	Author: <a href="/u/<%= post.name%>"><%= post.name %></a>
	Date: <%= post.time.minute %>
</p>
<div class='col-md-7'>
<%- post.post%>
</div>
<div class='col-md-6'>
	<span ><a class='btn btn-default glyphicon glyphicon-pencil' href="/edit/<%= post.name%>/<%= post.time.day%>/<%= post.title%>">Edit</a></span>
	<span ><a class="btn btn-default glyphicon glyphicon-trash" href="/remove/<%= post.name%>/<%= post.time.day%>/<%= post.title%>">Remove</a></span>
</div>
<%- include comments%>
<%- include footer%>